// @import "./header/header";
$primary_1: #a2b9bc;
$primary_2: #b2ad7f;
$primary_3: #878f99;

@mixin important-text {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


h1:nth-child(2){
    @include important-text()
}

header{
    width: 100%;
    background: #f0f0f0;
    position: fixed;
    top: 0;
    z-index: 10;

    nav{
        width: 100%;    
        padding: 5px;

        ul{
            display: flex;
            align-items: center;
            li{
                list-style: none;
                font-size: 15px;
                position: relative;
                a{
                    text-decoration: none;
                    padding: 10px 20px;
                    &:hover{
                        background:red;
                        color: white;
                        transition: ease-in-out;
                    }
                }
                ul{
                    display: none;
                    position: absolute;
                    top: 22px;
                    max-width: 300px;
                    background: wheat;
                    padding: 10px 0px;
                    li{
                        width: 100%;
                        display: block;
                        padding: 10px 20px;
                        a{
                            
                        }
                    }
                }
                &:hover{
                    ul{
                        display: block;
                    }
                }
            }
        }
    }
}

.title{
    position: sticky;
    top: 20px;
    padding: 15px;
}

.mx-auto{
    margin: 0 auto;
}

.container{
    max-width: 900px;
    // @media screen min-width(890px) {
        
    // }
}

#home{
    min-height: 100vh;
    background: rgb(247, 183, 183);
}
#about{
    min-height: 100vh;
    background: rgb(183, 247, 204);
}
#contact{
    min-height: 100vh;
    background: rgb(183, 213, 247);
}